@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
}
main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
h1{
    text-align: center;
}

.formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario_label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario_grupo_input{
    position: relative;
}
.formulario_input{
    width: 100%;
    background: rgba(128, 128, 128, 0.15);
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario_input:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0 30px rgba(163,163,163,0.5);
}
.formulario_input_error{
    font-size: 12px;
    margin-bottom:0;
    display: none;
}
.formulario_input_error-activo{
    display: block;
}
.formulario_validacion_estado{
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}
.formulario_checkbox{
    max-width: 10px;
}
.formulario_grupo_terminos, .formulario_mensaje, .formulario_grupo_btn_enviar{
    grid-column: span 2;
}
.formulario_mensaje{
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    font-size: 0.85em;
}
.formulario_mensaje-activo{
    display: block;
}
.formulario_mensaje p{
    margin: 0;
}
.formulario_grupo_btn_enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario_btn{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s ease all;
}
.formulario_btn:hover{
    box-shadow: 3px 0px 30px rgba(163,163,163,1);
}
.formulario_mensaje_exito{
    font-size: 14px;
    color: rgb(0, 160, 0);
    display: none;
}
.formulario_mensaje_exito-activo{
    display:block;
}

/* ====== ESTILOS PARA LA VALIDACION: ====== */
.formulario_grupo_correcto .formulario_validacion_estado{
    color:  #1ed12d;
    opacity: 1;
}
.formulario_grupo_correcto .formulario_input{
    border: 3px solid #1ed12d;
}
.formulario_grupo_incorrecto .formulario_label{
    color:  #d11e1e;
    opacity: 1;
}
.formulario_grupo_incorrecto .formulario_validacion_estado{
    color:  #d11e1e;
    opacity: 1;
}
.formulario_grupo_incorrecto .formulario_input{
    border: 3px solid #d11e1e;
}
/* ================== Decoracion ================== */
.contenedor_contacto_titulo{
    font-family: 'Teko', sans-serif;
    font-style: italic;
    font-size: 1.8em;
}
.contenedorContacto{
    padding: 20px;
    font-size: 1.2em;
    font-family:Arial, sans-serif;
    font-style: italic;
}


/* ====== PARTE RESPONSIVE(Mediaqueries) ====== */
@media screen and (max-width: 800px){
    .formulario{
        grid-template-columns: 1fr;
    }
    .formulario_grupo_terminos, .formulario_mensaje, .formulario_grupo_btn_enviar{
        grid-column: 1;
    }
    .formulario_btn{
        width: 100%;
    }
}


